name: Alerta ntfy

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Send notification to ntfy.sh
        env:
          NTFY_TOPIC: devops-itla
        run: |
          TITLE="Repo: ${{ github.repository }} - push to main"
          COMMIT="${{ github.event.head_commit.message }}"
          if [ -z "$COMMIT" ]; then COMMIT="no-message"; fi
          MESSAGE="Repo: ${{ github.repository }}\nActor: ${{ github.actor }}\nRef: ${{ github.ref }}\nCommit: $COMMIT"
          printf "%b" "$MESSAGE" | curl -s -S -X POST -H "Title: $TITLE" --data-binary @- https://ntfy.sh/${{ env.NTFY_TOPIC }}
