name: Alerta ntfy

on:
  push:
    branches:
      - main

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Send notification to ntfy.sh
        env:
          NTFY_TOPIC: devops-itla
          REPO: ${{ github.repository }}
          ACTOR: ${{ github.actor }}
          REF: ${{ github.ref }}
          COMMIT_MSG: ${{ github.event.head_commit.message }}
        run: |
          TITLE="Repo: $REPO - push to main"
          COMMIT="$COMMIT_MSG"
          if [ -z "$COMMIT" ]; then COMMIT="no-message"; fi
          MESSAGE="Repo: $REPO\nActor: $ACTOR\nRef: $REF\nCommit: $COMMIT"
          printf "%b" "$MESSAGE" | curl -s -S -X POST -H "Title: $TITLE" --data-binary @- https://ntfy.sh/${NTFY_TOPIC}
